<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Cupcake Ordrer</title>
    <link rel="stylesheet" href="/public/css/checkout_styles.css">
</head>
<body>

<header class="header">
    <img src="/public/images/cupckaebanner2.png" alt="Cupcakes" class="background-img">
    <img src="/public/images/olsker logo.png" alt="Olsker Cupcakes" class="logo">
</header>

<div class="container">
    <div class="order-box">
        <h3>ORDERS:</h3>
        <div class="order-item">
            <span class="remove">❌</span>
            <span class="order-text">Ipsum ordre</span>
        </div>
        <p><strong>price:</strong></p>
    </div>

    <div class="delivery-box">
        <h3>Delivery:</h3>
        <label>Name:</label>
        <input type="text" id="name">

        <label for="address">Adresse:</label>
        <input type="text" id="address">

        <button class="order-button">PLACE ORDER</button>
    </div>
</div>

</body>
</html>
