<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>cupcake</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<h1>Velkommen til Cupcake</h1>
<p>Please login:</p>

<form method ="post">
    <input type = "text" name = "username" placeholder="Enter your Username"/>
    <input  type = "password" name = "password" placeholder="Enter your Password"/>
    <button type = "submit" formaction="/login">Log på</button>

    <div><p th:text="${message}"></p></div>
</form>
<p><a href="createuser.html" th:href="@{/createuser}">Create user</a></p>

</body>
</html>